{% extends 'layout.html' %}
{% block head %}
<title>Home | StudOut</title>
{% endblock %}
{% block body %}

<body>
    <div class="flex flex-row items-center justify-center h-screen p-10">
        <section
            class="flex group overflow-hidden flex-col justify-between p-3 w-full rounded-3xl shadow-none hover:shadow-xl transition-shadow duration-200 ease-in-out">
            <div
                class="overflow-hidden relative items-center justify-center h-full w-full transition-transform duration-200 hover:duration-500 group-hover:duration-500  rounded-3xl flex-auto">
                <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/997dc89b78d32f085876efdc277211313eec496df259b74e64f44dd8e9fc0369?apiKey=9bd219f68dfc444683de1063449c1f1e&"
                    class="object-contain flex-1 w-full" alt="Lotus Residency property" />
                <div
                    class="flex overflow-hidden opacity-0 absolute h-full w-full bg-[#ffffff83] backdrop-blur-sm top-0 left-0 p-[20px] items-center justify-center rounded-3xl group-hover:opacity-100 hover:opacity-100 duration-500 ease-in-out">
                    <button type="submit" id="loginBtn" data-ripple-light="true"
                        class="btn btn-primary sm:btn-sm md:btn-md lg:btn-lg px-20 rounded-full roboto-reg ">
                        <span>Explore</span>
                    </button>
                </div>
            </div>
            <header class="flex flex-col justify-center h-auto items-start self-start mt-2.5 text-center text-black">
                <h2 class="text-2xl font-bold">Lotus Residency</h2>
                <p class="mt-1.5 text-xl font-semibold">Bengaluru, Karnataka</p>
                <div class="mt-1.5 text-lg font-medium text-stone-900">
                    <span class="text-amber-500" aria-label="4.5 out of 5 stars">★★★★★</span>
                    <span class="sr-only">Rating:</span>
                    <span aria-hidden="true">(530 Visitors)</span>
                </div>
            </header>
        </section>
    </div>


</body>
{% endblock %}